<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="bg-cover bg-top bg-[url('https://img.freepik.com/free-photo/digital-painting-mountain-with-colorful-tree-foreground_1340-25699.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699401600&semt=ais')]" style="height: 434px !important;">
      <nav>
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"><a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse"><img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" /></a>
          <div class="flex md:order-2">
            <div class="mx-2"><a href="#" class="account-link inline-flex justify-center items-center w-full p-2.5 text-sm text-white bg-gradient-to-r from-orange-500 to-orange-700 hover:from-amber-700 hover:to-orange-600 hover:bg-amber-600 rounded-lg hover:text-gray-50"> Set up my Shop </a></div><button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search" aria-expanded="false" class="md:hidden text-white rounded-lg text-sm p-2.5 me-1"><svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg><span class="sr-only">Search</span></button>
            <div class="relative hidden md:block">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"><svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg><span class="sr-only">Search icon</span></div><input type="text" id="search-navbar" class="bg-transparent w-full p-2 ps-10 text-sm text-gray-900 border border-white rounded-lg  focus:ring-orange-500 focus:border-orange-500 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder="Search...">
            </div><button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden" aria-controls="navbar-search" aria-expanded="false"><span class="sr-only">Open main menu</span><svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
              </svg></button>
          </div>
          <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
            <div class="relative mt-3 md:hidden">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none text-white"><svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg></div><input type="text" id="search-navbar" class="bg-transparent w-full p-2 ps-10 text-sm placeholder:text-white border border-white rounded-lg" placeholder="Search...">
            </div>
            <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
              <li><a href="#" class="block py-2 px-3 text-white bg-orange-700 rounded md:bg-transparent md:text-orange-700 md:p-0" aria-current="page">Home</a></li>
              <li><a href="#" class="block py-2 px-3 text-white rounded md:hover:bg-transparent md:hover:text-orange-700 md:p-0 md:dark:hover:text-orange-500 dark:text-white dark:hover: dark:hover:text-white md:dark:hover:bg-transparent">About</a></li>
              <li><a href="#" class="block py-2 px-3 text-white rounded md:hover:bg-transparent md:hover:text-orange-700 md:p-0 dark:text-white md:dark:hover:text-orange-500 dark:hover: dark:hover:text-white md:dark:hover:bg-transparent">Services</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="px-2 md:pl-12 bg-opacity-25 h-full pt-16 -mt-6">
        <h1 class="my-6 md:max-w-2xl text-4xl font-semibold tracking-tight leading-none md:text-5xl xl:text-6xl text-white "> Discover & book local beauty professionals</h1>
        <p class="md:mt-20 mt-8 md:max-w-2xl font-light md:text-gray-200 text-amber-700 text-sm flex items-center justify-start gap-2 hover:underline hover:text-white"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg><a href="#" class="hover:underline">Are you a beauty professional?</a></p>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
  </body>
</html>